body{
    background-color:#EEE;
    overflow: hidden;
}

li{
    text-decoration: none;
    display:inline-block;

}
.unorderList{
    list-style-type:none;
}
header{

    background-image: url("img/MyRecipesLogo.jpg");
}
.logo {
width:20%;
}
.header{
    background-color:white;
    width: 100%;
    margin: 0px;
}
/* Log In */
#loginContainer{
    width: 291px;
height: 107px;
background: #CEDBEE !important;
margin: auto;
padding: 38px;
border-radius: 6px;
}

h2,h3{
    text-align: center;
}